name: Publish a version on crates.io
on:
  pull_request:
    types:
      - closed

jobs:
  tag_github_release:
    environment:
      name: release
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'release')

    permissions:
      id-token: write # Enable OIDC
      contents: write

    runs-on: ubuntu-latest
    steps:
      - run: echo merge commit is $GITHUB_SHA, from PR branch ${{ github.event.pull_request.head.ref }}
      - uses: actions-ecosystem/action-regex-match@v2
        id: version
        with:
          text: ${{ github.event.pull_request.head.ref }}
          regex: "^release/([^/]+)/(.+)$"
          # Name of crate is steps.version.outputs.group1, version is steps.version.outputs.group2.
          # TODO: figure out how this works with workspaces & multiple crates

      - name: Create release v${{steps.version.outputs.group2}}
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.version.outputs.group2 }}
          name: ${{steps.version.outputs.group1}} v${{ steps.version.outputs.group2 }}
          target_commitish: ${{github.sha}}

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable

      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec
        id: auth

      - uses: actions/checkout@v6.0.1
      - run: cargo publish -p ${{ steps.version.outputs.group1 }}
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
